@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root {
  $fontFamily: 'Poppins', sans-serif;
  $colorBy: #3a87e6;
  $colorCode: #0b3148;
  $boxShadow: 0px 0px 10px 0px #00000087;
}